* {
    box-sizing: border-box;
}

body {
    font-size: 0;
    background-color: #5BA3D6;
    }

#container{
	font-size: 12px;
	color: #FFFFF;
	width: 780px;
	padding: 2px;
	margin: 100px;
}  

.column{
	display: inline-block;
	vertical-align: top;
}

#left{
	width:25%;
}

#middle{
	width: 25%;
}

#right{
	width: 25%;
}

p{
	margin-top: 6px;
	margin-bottom: 20px;
}

select{
	display: block;
	background-color: #5BA3D6;
	outline: none;
	border: silver solid;
	border-width: 1px;
	color: white;
	height:	30px;
	width: 165px;
	font-size: 15px;
}

input{
	background-color: #5BA3D6;
	outline: none;
	border: #FFFFF solid;
	border-width: 2px:
	color: #FFFFFF;
	height: 25px;
	width: 165px;
	font-size: 12px;
}

textarea{
	background-color: #5BA3D6;
	outline: none;
	border-width: 1px;
	border-color: #FFFFF;
	height: 165px;
	width: 165px;
	font-size: 12px;
}

select:focus { 
  outline: none;
}

input:focus {
  outline: none;
  background: #FFFFF;
}

input:hover {
  opacity: 1;
  border: 3px solid white;
}

@media only screen and (max-width: 775px){
	.column{
		display: block;
	}
	#right {
		width: 100%;
	}
	#left {
		width: 100%;
	}
}